# ignore python bytecode
__pycache__/
*.py[cod]

# ignore jupyter notebook checkpoints
.ipynb_checkpoints/

# ignore large model files
blobs/
*.safetensors
optimizer.pt

# ignore redundant files
.locks/