# Jupyter Notebook
notebook
jupyterlab
ipywidgets

tqdm # for progress bars

# Data Science packages
pandas
numpy
matplotlib

# PyTorch packages
torch
torchvision
torchaudio

# Huggingface ecosystem packages
transformers
datasets
accelerate

# Machine Learning packages
scikit-learn
triton
tensorboard
torchvision

# Google Colab-specific packages
google-colab
cloud-tpu-client