# Jupyter Notebook
notebook
jupyterlab
ipywidgets

tqdm # for progress bars

# Data Science packages
pandas
numpy
matplotlib

# PyTorch packages
torch
torchvision
torchaudio
triton # PyTorch backend for TorchInductor
bitsandbytes # for model quantization
peft # need Parameter-Efficient Fine-Tuning to finetune quantized models

# Huggingface ecosystem packages
transformers
datasets
accelerate

# Machine Learning packages
scikit-learn
tensorboard

# Google Colab-specific packages
google-colab
cloud-tpu-client